@model MVC4_Foundation3_Lucene_Search.Models.IndexingModel
@{
    ViewBag.Title = "Index";
}
<script type="text/javascript">



    function checkSearch() {
        debugger;
        var $j = jQuery.noConflict();
        var seachText = document.getElementById("SearchValue");
        if (seachText.value == "") {
            alert("Please Enter the text to search")
            tableview.setAttribute("style", "display:none;");
            return false;
        }
        else {
            tableview.removeAttribute("style");

        }



        return true;
    }
    function advanceSearch() {
        $('#divsimplesearch').hide();
        $('#divadvancesearch').show();
    }
    function simpleSearch() {
        $('#divadvancesearch').hide();
        $('#divsimplesearch').show();
    }
        window.onload = function () {
           // tableheadrow.removeAttribute("style");
            //  tableheadrow.setAttribute("style", "display:none;");
            
            $('#divadvancesearch').hide();
           // tableview.setAttribute("style", "display:none;");
        };

</script>
<div id="showcase">
    <div class="row">
        <div class="twelve columns">
            @using (Html.BeginForm("CreateIndex", "Home", FormMethod.Post))
            { 
                @Html.ValidationSummary(true, "Search was unsuccessful. Please correct the errors and try again.")        
                <fieldset>
                    <legend>Index</legend>First Click to Index: &nbsp;&nbsp;
                    <input id="btnCreateIndex" class="small button" type="submit" value="Create Index" />
                </fieldset>  
            }
        </div>
    </div>
    <div class="row">
        <div class="twelve columns">
            @using (Html.BeginForm("Search", "Home", FormMethod.Post))
            { 
                @Html.ValidationSummary(true, "Search was unsuccessful. Please correct the errors and try again.")        
                <fieldset>
                    <legend>Simple Search</legend>
                    <div style="margin-bottom: 20px; background-color: #D8D1CA; padding: 15px;">
                        @* <input id="lnkbtnSimpleSearch" class="small button" type="submit" value="Simple Search" />*@
                        <label id="lnkbtnSimpleSearch" onclick="simpleSearch();" style="background-color: #FF6600;
                            color: White; padding-top: 5px; padding-bottom: 5px; padding-left: 5px;" for="male">
                            <u>Simple Search</u></label>
                        <div id="divsimplesearch">
                            <div id="idSimple" runat="server">
                                Enter the text to search &nbsp;&nbsp; @Html.TextBoxFor(m => m.SearchValue)
                                &nbsp;&nbsp;
                                <input id="btnSearch" class="small button" type="submit" value="Search" onclick="javascript:return checkSearch();" />
                            </div>
                        </div>
                    </div>
                </fieldset>  
            }
        </div>
    </div>

    <div class="row">
        <div class="twelve columns">
            @using (Html.BeginForm("advanceSearch", "Home", FormMethod.Post))
            { 
                @Html.ValidationSummary(true, "Search was unsuccessful. Please correct the errors and try again.")        
                <fieldset>
                    <legend>Advanced Search</legend>
                    <div style="margin-bottom: 20px; background-color: #D8D1CA; padding: 15px; ">
                        @*<input id="lnkbtnAdvanceSearch" class="small button" type="submit" value="Advance Search" /> *@
                        <label id="lnkbtnAdvanceSearch" onclick="advanceSearch();" style="background-color: #FF6600;
                            color: White; padding-top: 5px; padding-bottom: 5px; padding-left: 5px;" for="male">
                            <u>Advance Search</u></label>
                        <div id="divadvancesearch">
                            <div id="idAdvance">
                                <label id="lblFindResult" style="font-bold: True;" for="male">
                                    Find Results</label>
                                with <strong>all</strong> of the words &nbsp;&nbsp;@Html.TextBoxFor(m => m.wiithallwords)&nbsp;&nbsp;
                                with the <strong>exact phrase</strong>
                                @Html.TextBoxFor(m => m.exactphrase)
                                with <strong>at least one</strong> of the words
                                @Html.TextBoxFor(m => m.leastWords)
                                <strong>without</strong> the words
                                @Html.TextBoxFor(m => m.withoutWords)
                                <input id="btnWordSearch" class="small button" type="submit" value="Search" />
                            </div>
                        </div>
                </fieldset>  
            }
        </div>
    </div>
</div>

@*<div class="row">
<div class="twelve columns>
  @Html.Grid(Model).Columns(columns =>
{
    columns.Add(c => c.Id).Titled("Client ID");
    columns.Add(c => c.Name).Titled("Name").Filterable(true);
    columns.Add(c => c.Email).Titled("Email");
}).WithPaging(3).Sortable(true)
</div>
</div>*@
<div class="row">
    <div class="twelve columns">
        <div>
            <div id="tableview" >
                @* <fieldset>
                    <legend>Searched Results</legend>*@
                <table style="width:100%;">
                    <tr id="tableheadrow" >
                        <th>
                            PageName
                        </th>
                        <th>
                            Tag
                        </th>
                        <th>
                            ContentText
                        </th>
                        <th>
                            Priority
                        </th>
                        @*   <td>
                                PageName
                            </td>
                            <td>
                                Tag
                            </td>
                            <td>
                                ContentText
                            </td>
                            <td>
                                Priority
                            </td>*@
                    </tr>
                    @foreach (System.Data.DataRow dr in ViewBag.AuthorList.Rows)
                    {
                        if (dr != null)
                        {
                        <tr>
                            <td>
                                @dr["PageName"].ToString()
                            </td>
                            <td>
                                @dr["Tag"].ToString()
                            </td>
                            <td>
                                @dr["ContentText"].ToString()
                            </td>
                            <td>
                                @dr["Priority"].ToString()
                            </td>
                        </tr>
                        }

                    }
                </table>
                @* </fieldset>*@
            </div>
        </div>
    </div>
</div>
</div>

@*@using Prototyping.Ipsum
@using Prototyping.Placeholdit
@*The prototyping helper allows us to build fast demo code
@using Prototyping.Ipsum
@using Prototyping.Placeholdit
<div id="showcase">
    <div class="row">
        <div class="six columns">@Html.Ipsum().h1().h4(wordCount: 8)
            <p class="action">
                <a href="#" class="nice large orange button">Buy Now</a>
            </p>
        </div>
        <div class="six columns">
                @Html.Placehold(width: 468, height: 304, text: "product slide 1",
                backgroundColor:"A7D5F2")
        </div>
    </div>
</div>
<div id="features">
	<div class="row">
		<div class="four columns">@Html.Ipsum().h3()
		@Html.Placehold(width: 300, height: 200, text: "A")</div>
		<div class="four columns">@Html.Ipsum().h3()
		@Html.Placehold(width: 300, height: 200, text: "B")</div>
		<div class="four columns">@Html.Ipsum().h3()
		@Html.Placehold(width: 300, height: 200, text: "C")</div>
	</div>
</div>
<div id="benefits">
	<div class="row">
		<div class="eight columns">
		  @Html.Ipsum().h3().p().h4().p().h4().p()
		</div>
		<div class="four columns">
		  @Html.Ipsum().h3().p(paragraphCount: 1, sentenceCount: 3)
		  <p>
			<a href="#" class="nice orange button">Buy Now</a>
		  </p>
		</div>
	</div>
</div>
<div id="media">
	<div class="row">
		<div class="twelve columns">
		  @Html.Ipsum().h3()
		</div>
	</div>
	<div class="row">
		<div class="six columns">
		  @Html.Ipsum().h4()
		  @Html.Placehold(width: 468, height: 304, text: "product video")
		</div>
		<div class="six columns">
		  @Html.Ipsum().h4()
		  @Html.Placehold(width: 468, height: 304, text: "product video")
		</div>
	</div>
</div>*@